@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

@media screen and (max-width:1075px) {
    .content{
        flex-direction: column;
    }
    
}

@media screen and (max-width:720px) {
    .nome{
        font-size: 22px;
    }
    li.nav-link {
        font-size: 12px;
    }
    .main h2{
        font-size: 28px;
    }
    .main p{
        font-size: 15px;
    }
    button{
        font-size: 12px;
    }
    .image-code img{
        max-width: 400px;
    }
}

* {
    font-family: 'Poppins', ui-sans-serif;
    color: #cfe5fc;
}

body{
    background-color: #020f24;
    min-height: 100vh;
}

a{
    text-decoration: none;
}

.container{
    justify-content: center;
    display: flex;
}

.nav-container{
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.50);
    display: block;
    padding: 65px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border-radius: 16px;
}


.nome{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}

ul.nav-links{
    margin: 0;
    float: right;
    display: flex;
    list-style: none;
    margin: 2px;
}

li.nav-link{
    display: inline-block;
    margin-left: 32px;

}

.main{
    margin-top: 5%;
    padding: 20px;
    display: inline-block;
}

.main p{
    font-size: 16px;
    line-height: 23px;
}

.main > h2{
    font-size: 32px;
    
}

.content{
    display: flex;
    width: 100%;
}

button{
    margin-top: 50px;
    height: 60px;
    width: 100%;
    font-size: 12px;
    color: #020f24;
    background-color: #88f10f;
    outline: #020f24;
    transition: all 0.3s ease;
    border-radius: 16px;
    border: none;
}

button:hover{
    background-color: #73c219;
    cursor: pointer;
    outline: #020f24
}

section{
    margin-top: 15%;
    justify-content: center;
    display: block;
    padding: 65px;
    background: rgba(0, 0, 0, 0.50);
    border-radius: 16px;


}

section p{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    color: #73c219;
}

section p2{
    margin-bottom: 0%;
    display: grid;
    justify-content: center;
    color: #cfe5fc;
}

form input,
form textarea,
form button{
    display: block;
    color: #020f24;
    width: 420px;
    margin-bottom: 8px;
    margin-left: 30px;
}
input:focus, textarea:focus{
    outline-color: #020f24;
}

form p{
    margin-left: 30px;
    justify-content: space-between;
}

form img{
    transform: translate(400px, -30px);
    justify-content: right;
    margin: 0%;
    position: absolute;
}

form textarea{
    resize: none;
    width: 422px;
    height: 100px;
}

footer{
    padding: 8px 0;
    margin-left: 120px;
}